.tableContainer{
    height: 91.5vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .card{
        height: 80vh;
        width: 90%;

        .card-footer{
            .form-select{
                width: 20%;
            }
        }
    }
}