.infoCardsContainer {
    height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  
   
  }

  @media (max-width: 768px) {
    .infoCardsContainer {
      height: 40vh;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
    
     
    }
  }
  
  
  