.accountContainer{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    
    .accountInfoSection{
        height: 89vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}